@font-face {
font-family: "Big Shoulder Display";
src: url("bigshouldersdisplay-variablefont_wght-webfont.woff") format("woff"), url("https://yoursite.com/css/fonts/CustomFont.eot");
src: url("bigshouldersdisplay-variablefont_wght-webfont.woff2") format("woff")
}
* {
  box-sizing: border-box;
}

.navb{
   padding: 20px;
    text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: black;
  }

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  height: 85vh;
  padding: 50px;
  color:white;
  border-radius: 20px;
  overflow:hidden;
}

.flex-item-left {
  background-color: hsl(31, 77%, 52%);
  padding: 50px;
  
  flex: 50%;
}

.flex-item-right {
  background-color: hsl(184, 100%, 22%);
  padding: 50px;
  flex: 50%;
}

.flex-item-last {
  background-color: hsl(179, 100%, 13%);
  padding: 50px;
  flex: 50%;
}

h1{
  font-family: 'Lexand Deca';
}

p{
  font-family: 'Big Shouders Display';
  padding-bottom: 40px;
}

.sedb{
  color: hsl(35, 100%, 48%);
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding-left: 30px;
  border: 5px white;
  border-radius: 30px;
  font-weight: 700;
}

.sedb:hover {
  background-color:  hsl(35, 100%, 48%); 
  cursor:pointer;
  color: white;
  border: 5px solid white;
}

.suvb{
   color: hsl(184, 100%, 22%);
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding-left: 30px;
  border: 5px white;
  border-radius: 30px;
  font-weight: 700;
}

.suvb:hover {
  background-color:  hsl(184, 100%, 22%);
  cursor:pointer;
  color: white;
  border: 5px solid white;
}

.luxb{
    color:  hsl(179, 100%, 13%);
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding-left: 30px;
  border: 5px white;
  border-radius: 30px;
  font-weight: 700;
}

.luxb:hover {
  background-color:   hsl(179, 100%, 13%);
  cursor:pointer;
  color: white;
  border: 5px solid white;
}

@media (max-width: 976px) {
  .flex-container {
    flex-direction: column;
    overflow: scroll;
    width: 100%;
  }